.top-wrapper{
    height: 800px;
    width:100%;
    
    background-image: url(https://github.com/mochigene/helesta.exam/blob/main/%E8%83%8C%E6%99%AF26_20210306122037.PNG?raw=true);
    background-size:cover;
}
