.top-wrapper{
    height: 100%;
    width:100%;
    
    background-image: url(https://github.com/mochigene/helesta.exam/blob/main/%E7%84%A1%E9%A1%8C26_20210306003614.PNG);
    background-size:cover;
}
